---
layout: default
title: موقع ملهم|شغف المعرفة
---

<div class="container">
			
			<h1 id="section">أهلاً بك</h1>

<ul>
  <li>
    <p>ستجد في هذا الموقع دروس ومقالات لا سابق لها في المحتوى العربي حيث أن المحتوى هنا بالكامل إما من تأليفي أو ترجمتي للدروس التي أرى أننا بحاجة لها.<a href="/about">اقرأ المزيد عن الموقع</a></p>
  </li>
  <li>
    <p>يمكنك <a href="/about/request">إرسال طلب خاص لي لترجمة مقال معين</a> مجاناً!</p>
  </li>
  <li>
    <p>كما يمكنك الاستفادة من الموقع بوضع رابط موقعك ضمن قائمة الروابط المفيدة. راسلني لذلك.</p>
  </li>
</ul>

<hr />

<h1 id="section-1">جديد الموقع</h1>




	<ul class="posts">

	  {% for post in paginator.posts %}
	    <li>
<a href="{{ post.url }}" title="{{ post.title }}"><br />{{ post.title }}</a><br />
<span style="font-size: 14px">{{ post.date | date_to_string }}</span> <br />
<p style="font-size: 18px">{{ post.excerpt | strip_html | truncatewords:75 }} <a href="{{ post.url }}">قراءة المزيد» </a></p>
</li><br />

	  {% endfor %}
	</ul>
<!-- Pagination links --><center>
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">السابق</a>
  {% else %}
    <span class="previous">السابق</span>
  {% endif %}
  <span class="page_number ">صفحة: {{ paginator.page }} من {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">التالي</a>
  {% else %}
    <span class="next ">التالي</span>
  {% endif %}
</div>
</center>