الفهرس :

[الدرس الأول : التعريف بـ SQL](intro)

[الدرس الثاني : بناء SQL](build)

[الدرس الثالث : تصريح SELECT](select)

[الدرس الرابع : تصريح تحديد الاختلاف في SQL](select-distinct)

[الدرس الخامس : عبارة WHERE في SQL](where)

[الدرس السادس : عمليات AND & OR في SQL](and-or)

[الدرس السابع : دالة ORDER BY في SQL](order-by)

[الدرس الثامن: تصريح INSERT INTO في SQL](insert-into)

[الدرس التاسع: تصريح UPDATE في SQL](update)

[الدرس العاشر: تصريح DELETE في SQL](delete)

[الدرس الحادي عشر: عبارات Top أو LIMIT أو ROWNUM](top-limit-rownum)

[الدرس الثاني عشر: دالات Mix و MAX](min-max)

********************
