<!DOCTYPE html>
	<html>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	                	<li><a href="/">الرئيسية</a></li>
	        	        <li><a href="/about">عن الموقع</a></li>
				<li><a href="/blog">المدونة</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="/usage_policy.html">سياسة الإستخدام</a></li>
        		<li><a href="/download_site.html">حمل الموقع وتصفحه بدون اتصال بالإنترنت</a></li>
				</ul>
			</footer>
		</body>
	</html>

