---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html ⚡ lang="ar" class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <br><br><br>
    <main id="content" role="main" class="">
      <article class="recipe-article">
    <header class="header" role="banner">
       
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="ampstart-btn" href="{{site.url}}">
                        <amp-img height="24" width="24" src="/assets/img/home.png"></amp-img>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in paginator.posts %} 


                    <ul style="list-style: none;">
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            
                            <a style="font-size: 33px;" href="{{ site.url }}{{ post.url }}">
                        {% if post.feature %}
<amp-img width="250px" height="250px" style="float:left; border-radius: 20%; margin-top: 30px;" src="{{post.feature}}"alt= "{{ post.alt }}"></amp-img>
{% endif %}
{{ post.title }}</a>
                            <p style="font-size: 20px;">{{ post.excerpt | strip_html | truncatewords:75 }}</p>
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">قراءة المزيد»</a>
                        </li>
                    </ul>


                    {% endfor %}
                </div>
            </div>
    </header></article></main>
       <center> {% include pagination.html %} </center>
</body>
</html>
