---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
	
    {% include head.html %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4752855256699204",
          enable_page_level_ads: true
     });
</script>
</head>
<body>
    {% include nav.html %}

    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.type == 'tutorial' %}
                    <a class="btn zoombtn" href="{{site.url}}/tutorials/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% endif %}

                        <i class="fa fa-chevron-left"></i>
                    </a>
<a class="btn zoombtn" href="https://github.com/Mulham/mulham.github.io/tree/master/{{page.path}}">عدِّل هذه الصفحة</a>
                </div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- desktop -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4752855256699204"
     data-ad-slot="3888202602"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                {{ content }}
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

<div id="mc_embed_signup" style="font:14px;width:100%;">
<form action="https://github.us5.list-manage.com/subscribe/post?u=ef99ab99e546f6f09993024f4&amp;id=94dda7fbb9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">ابقى على اطلاع على آخر شروحاتنا التقنية</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="يرجى إدخال بريدك الإلكتروني" required>
 
    <div class="clear"><input type="submit" value="اشترك" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- desktop -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4752855256699204"
     data-ad-slot="3888202602"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>

        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-4752855256699204">
</amp-auto-ads>
</body>
</html>
