---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
	
    {% include head.html %}
    {% if page.feature %}
  <meta property="og:image" content="{{page.feature}}">
{% endif %}


</head>
<body>
    {% include nav.html %}

    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.type == 'tutorial' %}
                    <a class="btn zoombtn" href="{{site.url}}/tutorials/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% endif %}

                        <i class="fa fa-chevron-left"></i>
                    </a>
<a class="btn zoombtn" href="https://github.com/Mulham/mulham.github.io/tree/master/{{page.path}}">عدِّل هذه الصفحة</a>
                </div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- desktop -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4752855256699204"
     data-ad-slot="3888202602"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                {{ content }}
<br><hr><!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-theme="drop" data-lang="ar" data-ef_voting="buzz" data-rich_snippet="true" data-voting_frequency="1" data-addthis_pubid="ra-4ff885424500c510" data-item_url="{{ site.baseurl }}{{ post.url }}" data-item_title="{{ post.title }}" data-item_description="{{ post.description }}" data-item_date="{{ post.date }}"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->


<div class="rect">

  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}

     
  {% for post in site.posts %}


    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter == 1 %}
                <h2>اقرأ أيضًا</h2>
            {% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}">
              
                <li> {{ post.title }} </li>
                  
             
          </a>


      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- desktop -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4752855256699204"
     data-ad-slot="3888202602"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

<div id="mc_embed_signup" style="font:14px;width:100%;">
<form action="https://github.us5.list-manage.com/subscribe/post?u=ef99ab99e546f6f09993024f4&amp;id=94dda7fbb9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">ابقى على اطلاع على آخر شروحاتنا التقنية</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="يرجى إدخال بريدك الإلكتروني" required>
 
    <div class="clear"><input type="submit" value="اشترك" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</div>


                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>

        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

</body>
</html>
