---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html ⚡ lang="ar" class="no-js"><!--<![endif]-->
<head>


    {% include head.html %}
    
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
   
</head>
<body>

<amp-analytics type="gtag" data-credentials="include">
<script type="application/json">
{
  "vars" : {
    "gtag_id": "UA-80564042-1",
    "config" : {
      "UA-80564042-1": { "groups": "default" }
    }
  }
}
</script>
</amp-analytics>
    {% include nav.html %}

    <!-- Header -->
    <br><br><br>
    <main id="content" role="main" class="">
      <article class="recipe-article">
        <header class="header" role="banner">
          <h1 class="mb1 px3" style="text-align: center">{{ page.title }}</h1>
                  
                    <h4 style="text-align: center">{{ page.date | date_to_string }}</h4>
                    {% if page.modified %}<h4 style="text-align: center"> آخر تعديل: {{ page.modified | date_to_string }}</h4> {% endif %}
                    {% if site.reading_time %}
                    <p class="reading-time">
                      <amp-img height="16" width="16" src="/assets/img/time.png"></amp-img>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time --><br>
                    {% endif %}
                    <div style="text-align: center">
                    {% if page.type == 'tutorial' %}
                    <a class="ampstart-btn" href="{{site.url}}/">
                    {% else %}
                    <a class="ampstart-btn" href="{{site.url}}/posts/">
                    {% endif %}
                    &#8674;</a>
<a class="ampstart-btn" href="https://github.com/Mulham/mulham.github.io/tree/master/{{page.path}}">عدِّل هذه الصفحة</a>
                </div><br><br>



{% if page.feature %}
<center>
<figure>
  <amp-img layout="responsive"src="{{ page.feature }}" alt="{{ page.title }}" width="340" height="300"></amp-img>
  <figcaption>{{ page.caption }}</figcaption>
</figure>
</center>
{% endif %}


<br>
                {{ content }}


<br>
<br>



  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}

     
  {% for post in site.posts %}


    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter == 1 %}
                <hr>
                <h2>اقرأ أيضًا</h2>
                <br><br> <div style="display: flex; flex-wrap: wrap; padding: 0 20px;grid-row-gap: 20px;grid-column-gap: 20px;    justify-content: space-around;">
            {% endif %}
    
 <div style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;width: 140px; height: 280px; ">
  <amp-img height="140" width="140" src="{% if post.feature %}{{ post.feature }}{% else %}/assets/posts/pen.jpg{% endif %}" alt="{{ post.title }}" style="border-radius: 5px 5px 0 0;"></amp-img>
  <div class="container">
    <a href="{{ site.baseurl }}{{ post.url }}"><h4 style="margin-top: 10px;">{{ post.title }}</h4></a>
    
  </div>
</div>
         

      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}

</div>


                <div class="entry-meta">
                {% include meta.html %}
                </div>
        

    </header>

    {% if site.mathjax == true %}
    <!-- MathJax -->
    {% endif %}
    <br><br><br>


        <h2 class="index-headline featured"><span>الكاتب</span></h2>

    {% if page.author == 'husam' %}
    <amp-img width="120" height="120" style="border-radius:50%" src="/husam.jpg"></amp-img>
        <section class="author">
          <div style="margin-top: -150px;margin-right: 130px;">
          <h3>حسام الدين</h3>
          <p class="bio"> طالب هندسة كهرباء وإلكترون من سوريا، أعمل على ترجمة المقالات التعليمية في وقت الفراغ لدعم المحتوى العربي على الإنترنت</p>


    {% else %}
    <amp-img width="120" height="120" style="border-radius:50%" src="/author.png"></amp-img>
        <section class="author">
          <div style="margin-top: -150px;margin-right: 130px;">
          <h3>ملهم</h3>
          <p class="bio"> مهندس حاسوب من سورية، أعمل في أوقات الفراغ على تأليف وترجمة كل ما أراه مهمًا في هذا المجال</p>

          <p> <a href="/about"> تعرَّف أكثر</a>
    {% endif %}       
          </p>
        </div>
          <hr>
            </section></div></div>
    <br><br>
<h2>تصنيفات الموقع</h2>
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<ul class="entry-meta inline-list">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  	<li style="font-size:18px"><a href="/tags/#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
  {% endunless %}{% endfor %}
</ul><br>
  <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
   
    <li>
        <a href="http://twitter.com/{{ site.twitter }}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Twitter"><amp-img src="/assets/img/twitter.svg" width="24" height="28.5" /></a>
    </li>
    <li>
         <a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML linedin"><amp-img src="/assets/img/linkedin.svg" width="24" height="28.5" /></a>
    </li>
                <li>
                    <a href="http://github.com/{{ site.github }}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Github"><amp-img src="/assets/img/github.svg" width="24" height="28.5" /></a>
                </li>
                <li>
                    <a href="mailto:{{ site.email }}" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Email"><amp-img src="/assets/img/gmail.svg" width="24" height="28.5" /></a>
                </li>
</ul>    

      </section></article>
    </main>

  <!-- Start Footer -->
  <footer>


  
      
     <center>  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.ar"><amp-img width="63" height="25" alt="رخصة المشاع الابداعي" style="border-width:0" src="/assets/ccl.png" /></a><br /><span property="dct:title">موقع ملهم</span> مرخّص بموجب <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.ar">رخصة المشاع الإبداعي نسب المصنف - غير تجاري 4.0 دولي</a>.
     </center> 
  </footer>
  <!-- End Footer -->  

</body>
</html>
